header{
    width: 100%;
    height: 75px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,107,1) 35%, rgba(0,212,255,1) 100%);
}

header h1{
    text-align: center;
    color: gold;
    margin: auto;
    padding-top: 10px;
}

.city-and-img{
    display: flex;
    flex-direction: row;
}

.current-img{
    height: 50px;
}

.city-info{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.forecast-header{
    padding-left: 10px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 40px;
    align-content: stretch;
}

.city-name{
    width: 250px;
    margin-top: 15px;
}

.searchBtn{
    width:250px;
    height: 30px;
    margin-top: 15px;
}

.searchBtn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:20px 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

.searchBtn:hover{
    background-color:#4095c6;
}

.weather-info{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}

.forecast{
    display: flex;
    direction: row;
}

.current-day{
    display: flex; 
    flex-direction: column;
    margin: 10px;
}

.day{
    height: 250px;
    flex-wrap: wrap;
    flex-grow: 2;
    padding-left: 10px;
    color: white;
    margin: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,121,107,1) 35%, rgba(0,212,255,1) 100%);
}

.high{
    background-color: red;
    width: 135px;
    border-radius: 20px;
    padding-left: 20px;
}

.moderate{
    background-color: yellow;
    width: 135px;
    border-radius: 20px;
    padding-left: 20px;
}

.favorable{
    background-color: lightgreen;
    width: 135px;
    border-radius: 20px;
    padding-left: 20px;
}


@media screen and (max-width:480px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .city-name{
        width: 100%;
    }

    .searchBtn{
        width: 100%;
    }
    
    .city-info{
        display: inline-block;
        align-items: center;
        width: 90%;
    }
    
    .sidebar{
        padding-left: 0;
        align-items: center;
    }
    
    .forecast{
        flex-direction: column;
        /* width: 400px; */
    }
    
    .day{
        margin-top: 15px;
    }
}